@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

*{
    
}

body{
    background-image: linear-gradient(to left, #DD7230, #EDA53B);
}

main{
    background-color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: normal;
    width: 1000px;
    margin: auto;
}

h1{
    font-family: "Oswald", sans-serif;
    font-size: 2em;
    text-align: center;
    font-style: italic;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

p{
    text-align: justify;
    text-indent: 30px;
}

a{
    color: black;
}
