@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #1469AE, #1E3D59);
    height: 100%;
}
main{
    background-color: white;border-radius: 10px;
    box-shadow: 5px 5px 15px #132636;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #2F2F2F;
    text-align: center;
    text-shadow: 1px 1px 2px #252525;
}
h2{
    color: #ebbd52;
}
p{
    text-align: justify;
}